{% extends "index.html" %}

{% block title %}Client{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-11">
                <div class="text-right mb-3"> <!-- Utilisation de la classe text-right pour aligner à droite et mb-3 pour la marge en bas -->
                        <!-- <button class="btn btn-primary" id="afficherajouterclient" onclick="affichecreationclient()">Ajouter un client</button> -->
                        <a   class="btn bg-gradient-primary border-left-secondary border-bottom-secondary ml-2 text-light btn-icon-split" id="afficherajouterclient" onclick="affichecreationclient()">
                            <span class="icon text-white-50">
                                <i class="fas fa-arrow-right"  ></i>
                            </span>
                            <span class="text text-black">Créer un client</span>
                    </a>
                </div>
            </div>
                   
            <div class="col-sm-10 mx-auto">
                <div class="card shadow mb-4 ">
                    <div class="card-header  py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Liste des clients</h6>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr class="m-0 font-weight-bold bg-light text-black">
                                   
                                    <th>nom</th>
                                    <th>prénom</th>
                                    <th>adresse</th>
                                    <th>téléphone</th>
                                    <th>rc</th>
                                    <th>nif</th>
                                    <th>Action</th>
                                  </tr>
                            </thead>
                            <tbody>
                                {% for x in client %}
                                <tr>
                                   
                                    <td>{{x.nom}}</td>
                                    <td>{{x.prenom}}</td>
                                    <td>{{x.adresse}}</td>
                                    <td>{{x.telephone}}</td>
                                    <td>{{x.rc}}</td>
                                    <td>{{x.nif}}</td>
                                    <td class="project-actions text-left">
                                        <button type="button" class="btn btn-circle btn-sm btn-primary"  onclick="recup('{{x.id}}','{{x.nom}}','{{x.prenom}}','{{x.adresse}}','{{x.email}}','{{x.telephone}}','{{x.rc}}','{{x.ai}}','{{x.nif}}')">
                                        <i class="fas fa-pencil-alt"></i>
                                    </button>
                                  
                                    <a class="btn btn-circle btn-sm btn-secondary" data-toggle="modal" data-target="#deleteclientModal{{x.id}}">
                                    <i class="fas fa-trash" data-toggle="tooltip" title="Supprimer">
                                    </i></a>
                                    
                                    <div class="modal fade" id="deleteclientModal{{x.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                    aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Are you sure to delete this client {{x.nom}} {{x.prenom}}</h5>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">Select "delete" below if you are ready to delete this client {{x.nom}} {{x.prenom}}.</div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                                    <a class="btn btn-primary" href="{% url 'deleteclient' x.id %}">delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    </td>                            
                              </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 mx-auto" id="creationclient" style="display: none;">
                <div class="card shadow mb-4 ">
                    <div class="card-header  py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Ajouter un client</h6>
                    </div>
                    <!-- <form method="post" action="" autocomplete="off" class="form-horizontal">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="Codedepartement">Code</label>
                                    <input type="text" class="form-control" name="code" id="Codedepartement"
                                        placeholder="Entrez le code">
                                </div>
                                <div class="form-group">
                                    <label for="Libelledepartement">Libelle</label>
                                    <input type="text" class="form-control" name="libelle" id="Libelledepartement"
                                        placeholder="Entrez le libelle">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                        </div>
                    </form> -->
                    <form method="post" action="{% url 'addclient' %}" class="user" id="formUp">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="nomclient" class="m-0 font-weight-bold text-black">Nom :</label>
                                        <input type="text" class="form-control" name="nom" id="nomclient" placeholder="Entrez le nom du client">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="prenomclient" class="m-0 font-weight-bold text-black">Prénom :</label>
                                        <input type="text" class="form-control" name="prenom" id="prenomclient" placeholder="Entrez le prénom du client">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="AdresseClient" class="m-0 font-weight-bold text-black">Adresse :</label>
                                <input type="text" class="form-control" name="adresse" id="adresseclient" placeholder="Entrez l'adresse">
                              </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="emailclient" class="m-0 font-weight-bold text-black">Email :</label>
                                        <input type="text" class="form-control" name="email" id="emailclient" placeholder="Entrez l'email du client">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="telephoneclient" class="m-0 font-weight-bold text-black">Téléphone :</label>
                                        <input type="text" class="form-control" name="telephone" id="telephoneclient" placeholder="Entrez le téléphone du client">
                                    </div>
                                </div>
                            </div>
                            
                          <div class="form-group">
                            <label for="rcclient" class="m-0 font-weight-bold text-black">Registre de commerce :</label>
                            <input type="text" class="form-control" name="rc" id="rcclient" placeholder="Entrez le registre de commerce">
                          </div>

                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="aiclient" class="m-0 font-weight-bold text-black">Article Imposable :</label>
                                    <input type="text" class="form-control" name="ai" id="aiclient" placeholder="Entrez l'article imposable du client">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nifclient" class="m-0 font-weight-bold text-black">N.I.F :</label>
                                    <input type="text" class="form-control" name="nif" id="nifclient" placeholder="Entrez le NIF du client">
                                </div>
                            </div>
                        </div>
                                                  
                        </div>
                        <!-- /.card-body -->
        
                        <div class="card-footer">
                          <button type="submit" class="btn btn bg-gradient-info  text-light ml-2" id="ajouterclient">Ajouter</button>
                          <button type="submit" class="btn btn bg-gradient-success  text-light ml-2" style="display:none;" id="modifierclient" >Modifier</button>
                        </div>
                      </form>
                </div>
            </div>
           
        </div>
    </div>
    <script>
        function recup(id,nom,prenom,adresse,email,telephone,rc,ai,nif) {
        
            document.getElementById("nomclient").value =nom;
            document.getElementById("prenomclient").value = prenom;
            document.getElementById("adresseclient").value =adresse;
            document.getElementById("emailclient").value =email;
            document.getElementById("rcclient").value =rc;
            document.getElementById("aiclient").value =ai;
            document.getElementById("nifclient").value =nif;
            document.getElementById("telephoneclient").value =telephone;
            document.getElementById("modifierclient").style.display ='block';
            document.getElementById("ajouterclient").style.display ='none';
            document.getElementById("creationclient").style.display ='block';

            // Générez l'URL de manière dynamique ici
            var updateUrl = "{% url 'updateclient' 0 %}".replace('0', id);
            document.getElementById("formUp").setAttribute('action', updateUrl);
            
        
          }
        function affichecreationclient()
        {
            document.getElementById("creationclient").style.display ='block';
            document.getElementById("nomclient").value ='';
            document.getElementById("prenomclient").value = '';
            document.getElementById("adresseclient").value ='';
            document.getElementById("emailclient").value ='';
            document.getElementById("rcclient").value ='';
            document.getElementById("aiclient").value ='';
            document.getElementById("nifclient").value ='';
            document.getElementById("telephoneclient").value ='';
            document.getElementById("modifierclient").style.display ='none';
            document.getElementById("ajouterclient").style.display ='block';
        }
        
          </script> 
{% endblock %}

